SECRET_KEY = 'django-insecure-qh6up2fxiqz&*o@poxj71wt1tts*4vvmv5yk*stigh8&tp^@am'

DEBUG=True

DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=postgre
DATABASE_HOST=localhost
DATABASE_PORT=5432